body{
    background-color: #4464AD;
}
.container {
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.list {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.data {
    margin-right: 10px;
}
.pointer {
    margin-right: 10px;
}
h1 {
    text-align: center;
    color: #E1D89F;
}
.element {
    height: 250px;
}
.arrow{
    color: #F39237;
    font-size: 24px;
    margin: 10px 0 0 10px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}
.data{
    color: #4464AD;
    margin: 10px;
    height: 70px;
    width: 140px;
    background-color: #E1D89F;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}
.pointer{
    color: #4464AD;
    margin: 10px;
    height: 70px;
    width: 140px;
    background-color: #E1D89F;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}
.mainContent {
    background-color: #78C3FB;
    display: flex;
    flex-direction: row;
}
.null {
    height: 250px;
    width: 200px;
    line-height: 210px;
    vertical-align: middle;
}
.null h1 {
    color: #F39237;
}
