*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wheatherHeder{
    height: 70px;
    background-color: #48484a;
    padding: 20px;
    align-items: center;
}
.headerImg{
    height: 60px;
}
.wheatherFooter {
    height: 70px;
    background-color: #48484a;
}
main{
    width: 100%;
    height: 81.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selector{
    margin-top: 20px;
    height: 45px;
    width: 300px;
    padding: 12px 24px;
    font-size: 18px;
}
.cityName{
    font-size: 24px;
    text-align: center;
}
.mainInfo {
    margin-top: 20px;
    display: flex;
}
.weather {
    margin-top: 150px;
    width: 300px;
    border: solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.329);
}
.tempNow {
    font-size: 64px;
}
.tempFeel {
    margin-top: 10px;
    font-size: 15px;
}
.image{
    align-items: center;
    margin-top: -10px;
}
.filters {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
button {
    margin-top: 50px;
     padding: 1rem 2rem;
     font-size: 1.25rem;
     position: relative;
     border: 2px solid #48484a;
     color: #48484a;
     background-color: transparent;
     text-align: center;
     cursor: pointer;
}


.select-box {
    cursor: pointer;
    position : relative;
    margin: 5em auto;
  }
  
.select {
    width: 200px;
    padding: 5px 0;
    height: 40px;
    background: none transparent;

  }
 