*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wheatherHeder{
    height: 70px;
    background-color: #48484a;
    padding: 20px;
    align-items: center;
}
.headerImg{
    height: 60px;
}
.wheatherFooter {
    height: 86px;
    background-color: #48484a;
}
main{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selector{
    margin-top: 20px;
    height: 45px;
    width: 300px;
    padding: 12px 24px;
    font-size: 18px;
}
.cityName{
    font-size: 24px;
    text-align: center;
}
.mainInfo {
    margin-top: 20px;
    display: flex;
}
.weather {
    margin-top: 150px;
    width: 300px;
    border: solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.329);
}
.tempNow {
    font-size: 64px;
}
.tempFeel {
    margin-top: 10px;
    font-size: 15px;
}
.image{
    align-items: center;
    margin-top: -10px;
}
.form {
    font-size: 20px;
    margin-top: 200px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .input-wrapper{
    justify-content: space-between;
    display: flex;
 }
 textarea{
    max-height: 100px;
    max-width: 180px;
 }
 .err {
    border-color: red;
 }
 .congratulation {
     position: absolute;
     background-color: rgba(0, 0, 0, 0.602);
     height: 854px;
     width: 100%;
     text-align: center;
     color: rgb(255, 255, 255);
     
 }
 h1{
     margin-top: 100px;
 }
 .hidden {
     display: none;
 }